header {
    padding: 15px 20px;

    nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: 13px;

        .right-elements__links {
            display: flex;
            align-items: center;

            li {
                margin-left: 20px;
            }

            li:first-child {
                margin-left: 0;
            }

            svg {
                &:hover {
                    cursor: pointer;
                }
            }

            a {
                color: black;
                &:hover {
                    text-decoration: underline;
                }
            }

            button {
                padding: 7px 15px;
                font-weight: 500;
                color: white;
                background-color: #4385F7;
                border: none;
                border-radius: 2px;
            }
        }
    }
}