/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

a {
  text-decoration: none;
}

header {
  padding: 15px 20px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
}

header nav .right-elements__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav .right-elements__links li {
  margin-left: 20px;
}

header nav .right-elements__links li:first-child {
  margin-left: 0;
}

header nav .right-elements__links svg:hover {
  cursor: pointer;
}

header nav .right-elements__links a {
  color: black;
}

header nav .right-elements__links a:hover {
  text-decoration: underline;
}

header nav .right-elements__links button {
  padding: 7px 15px;
  font-weight: 500;
  color: white;
  background-color: #4385F7;
  border: none;
  border-radius: 2px;
}

main {
  height: 75vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main img {
  padding-top: 120px;
  margin-bottom: 20px;
}

main .form-container {
  border: 1px solid #ccc;
  border-radius: 50px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 5px;
  margin-bottom: 20px;
}

main .form-container svg {
  padding: 0px 20px;
}

main .form-container form {
  width: 85%;
}

main .form-container form #search-bar {
  width: 100%;
  border: none;
}

main .form-container:hover {
  -webkit-box-shadow: 0px 0px 5px #ccc;
          box-shadow: 0px 0px 5px #ccc;
}

main .buttons-container button:first-child {
  margin-right: 10px;
}

main .buttons-container button {
  cursor: pointer;
  padding: 10px;
  background-color: #F8F8F8;
  border: none;
  border-radius: 2px;
  color: gray;
}

main .buttons-container button:hover {
  border: 1px solid #ccc;
  color: black;
}

@media (max-width: 1000px) {
  main .form-container {
    width: 80%;
  }
  main .form-container form {
    width: 75%;
  }
}

footer {
  background-color: #F2F2F2;
  font-size: 14px;
  color: #717188;
}

footer .location {
  padding: 10px 0px 10px 20px;
  border: 1px solid #ccc;
}

footer .footer-links__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 10px;
}

footer .footer-links__container .footer__links-1 {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

footer .footer-links__container .footer__links-1 .footer__link {
  padding-right: 30px;
}

footer .footer-links__container .footer__links-2 .footer__link {
  padding-left: 30px;
}

footer .footer-links__container .footer__links-1 .footer__link:hover,
footer .footer-links__container .footer__links-2 .footer__link:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media screen and (max-width: 715px) {
  .footer-links__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer-links__container .footer__links-2 {
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */